.top-space{
    height: 8em;
}

/*Replace color with wood/table background image*/
.bg-wood{
    background-color: #343a40;
}

.folder-tab{
    color: black;
    background-color: yellow;
    width: 6em;
    text-align: center;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    box-shadow: inset 0px -5px 6px -3px black;
}

.current-folder-tab{
    box-shadow: none;
}

/*Replace with folder texture*/
.folder{
    background-color: yellow;
    border-radius: 0.2em;
    box-shadow: 10px 10px 10px black;
}

.paper{
    min-height: 50em;
}

.lined{
    font: italic 1em "Cambria", arial, serif;
    margin: auto;
    padding: 4px 14px 0px 42px;
    line-height: 1.2em;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 0px;
    background-size: 100% 1.2em;
    width: 100%;
}

.button{
    background-color: darkorange;
    padding: 5px;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    width: 6em;
    font: bold 2em "Comic Sans MS", cursive, sans-serif;
    box-shadow: 20px 10px purple;
    border-style: groove;
}

.button:hover{
    background-color: green;
    border-style: dotted;
}

.button:active{
    background-color: azure;
}

#item{
    max-height: 8em;
    max-width: 8em;
}
#item:hover{
    cursor: zoom-in;
}

.hidden{
    display: none;
}